* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #09090A;
    color: #FFFFFF;

    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px;

    width: 100%;
    position: fixed;
    background-color: #09090A;
}

form {
    display: flex;
    padding: 180px 48px 48px;
    width: fit-content;
}

.habits {
    margin-top: 57px;
    display: flex;
    flex-direction: column;

    gap: 24px;

}

.habit {
    /* border: 1px black solid;
    border-radius: 8px; */
    width: 64px;
    height: 64px;

    font-size: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.days {
    display: flex;
    margin-left: 32px;
    gap: 48px;
}

.day {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.day div {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-bottom: 8px;

    font-family: 'Roboto Mono';
    font-size: 20px;
    line-height: 125%;

    color: #A1A1AA;
}

.register {
    display: flex;
    align-items: center;
    gap: 12px;

    padding: 16px 24px;
    background-color: transparent;
    color: #FFFFFF;

    border: 1px solid #8B5CF6;
    border-radius: 8px;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 125%;

    cursor: pointer;
}

input {
    appearance: none;
    -webkit-appearance: none;

    width: 64px;
    height: 64px;

    border: 2px solid #27272A;
    border-radius: 8px;

    background: #181818;
}

input:checked {
    background: #8B5CF6;
    border: 2px solid #a78bfa;
}

p {
    text-align: center;
    margin: -20px;

    font-family: 'Inter', sans-serif;
}

@media (max-width: 570px) {
    button div {
        display: none;
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #27272A;
    border-radius: 9px;
    cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #8B5CF6;
}

::-webkit-scrollbar-corner {
    display: none;
}